<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Мой блог</h1>
        <p class="lead text-body-secondary">Создайте свой первый блог, расскажите о себе :)</p>
        <div class="col-lg-6 col-md-8 mx-auto">
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:blog_list' %}" role="button">Перейти к списку</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:blog_create' %}" role="button">Создать статью</a>
        </div>
    </div>
</div>